@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Source Sans Pro", sans-serif;
  }
  html {
    height: 100%;
    width: 100%;
  }
  body {
    height: 100%;
    width: 100%;
    background-image: url(./images/Bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  }
  #root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .glass {
    @apply grow;
    background: rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
    border-top: 2px solid #228cff;
    border-left: 2px solid #228cff;
    border-bottom: 2px solid #228cff;
    margin-bottom: 2.1rem;
    margin-top: 1.9rem;
    overflow: hidden;
  }
  .nav-base {
    @apply bg-techBlue flex flex-col justify-between h-full relative py-4 px-3;
    width: 104px;
    transition: all ease-in-out 0.3s;
  }
  .nav-wrap {
    @apply flex flex-col justify-center gap-6 items-start;
  }
  .ico {
    cursor: pointer;
    max-width: 5rem;
    max-height: 5rem;
    transition: all ease-in-out 0.3s;
  }
  .exp-div .ico {
    max-width: 0;
    max-height: 0;
  }
  .nav-txt {
    @apply w-max text-highGlow py-5 px-5 cursor-pointer font-bold;
  }
  .nav-box {
    @apply flex justify-center items-center;
  }
  .app-base {
    @apply h-full w-5/6 flex gap-4 relative;
    border-right: 10px solid #228cff;
  }
  .flag {
    @apply absolute top-0 right-0;
    height: 1.5rem;
  }
  .exp-div {
    width: 216.7px;
  }
  .part-box {
    @apply text-techBlue;
  }
  .part-box h1 {
    @apply text-techBlue text-5xl;
  }
  .bar {
    @apply h-2/3;
    width: 26%;
    background-image: url(./images/Bg.jpg);
    background-position: left;
    background-size: cover;
  }
  .year {
    @apply text-xl font-bold absolute w-max bottom-3 right-1/2 translate-x-1/2;
  }
  .growth {
    @apply text-xl font-bold absolute w-max text-highDark -top-10 right-1/2 translate-x-1/2;
  }
  .box-1 {
    @apply bg-highGlow flex grow py-5 justify-evenly items-end;
    height: 24rem;
    width: 24rem;
  }
  .box-2 {
    @apply ring-4 ring-inset ring-highGlow flex grow py-5 justify-evenly items-end relative;
    height: 24rem;
    width: 24rem;
  }
  .splash-img {
    @apply w-5/6;
  }
  .socials {
    @apply font-normal text-3xl;
  }
  .home-base {
    @apply grow relative;
    padding-top: 4.1rem;
    padding-left: 4rem;
    padding-right: 7.5rem;
  }
  .para-box {
    @apply text-highGlow;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .line {
    line-height: 1.2;
  }
  .para-box-1 {
    @apply flex flex-col;
    gap: 15px;
  }
  .advert {
    @apply absolute border-4 border-techBlue;
    top: 4.1rem;
    width: 15.6rem;
    height: 53.1rem;
    right: 5rem;
    background-image: url(./images/test.jpg);
  }
  .bimaper-box-1 {
    @apply text-highGlow flex gap-4 flex-col;
    padding-top: 3.6rem;
    padding-left: 8.6rem;
  }
  .stat-1 {
    @apply text-xl font-bold absolute w-max;
    bottom: 60px;
    right: 51%;
    transform: translateX(50%);
    font-size: 6.8rem;
  }
  .active-nav {
    @apply font-normal;
  }
}
